<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
      <h1>servidor JBoss de botellon.com</h1>



      <h:form id="reg">
         <h2>Registrarse</h2>
         <p>les teves dades:</p>
         <h:panelGrid columns="3" columnClasses="titleCell">
            <h:outputLabel for="name" value="Nom:"/>
            <h:inputText id="name" value="#{newMember.name}" />
            <h:message for="name" errorClass="invalid"/>

            <h:outputLabel for="email" value="Email:"/>
            <h:inputText id="email" value="#{newMember.email}"/>
            <h:message for="email" errorClass="invalid"/>

            <h:outputLabel for="phoneNumber" value="Telefon #:"/>
            <h:inputText id="phoneNumber" value="#{newMember.phoneNumber}"/>
            <h:message for="phoneNumber" errorClass="invalid"/>
         </h:panelGrid>

         <p>
            <h:panelGrid columns="2">
               <h:commandButton id="register" action="#{memberRegistration.register}" value="Register"/>
               <h:messages styleClass="messages" errorClass="invalid" infoClass="valid" warnClass="warning"
                           globalOnly="true"/>
            </h:panelGrid>
         </p>
      </h:form>
      <h2>Members</h2>
      <h:panelGroup rendered="#{empty members}">
         <em>No registered members.</em>
      </h:panelGroup>
      <h:dataTable var="_member" value="#{members}" rendered="#{not empty members}">
         <h:column>
            <f:facet name="header">Id</f:facet>
                #{_member.id}
            </h:column>
         <h:column>
            <f:facet name="header">Nom</f:facet>
                #{_member.name}
            </h:column>
         <h:column>
            <f:facet name="header">Email</f:facet>
                #{_member.email}
            </h:column>
         <h:column>
            <f:facet name="header">Telefon</f:facet>
                #{_member.phoneNumber}
            </h:column>
         <h:column>
            <f:facet name="header">REST URL</f:facet>
            <a href="#{request.contextPath}/rest/members/#{_member.id}">/rest/members/#{_member.id}</a>
         </h:column>
         <f:facet name="footer">
            REST URL for all members: <a href="#{request.contextPath}/rest/members">/rest/members</a>
         </f:facet>
      </h:dataTable>
   </ui:define>
</ui:composition>
